:root {
	--mainBlue: #2a2a72;
	--lightBlue: #009ffd;
	--mainWhite: #f3f3f3;
	--mainDark: #232528;
	--mainYellow: #ffa400;
}
body{
	font-family: 'Oswald', sans-serif !important;
	background: var(--mainWhite) !important;
	color: var(--mainDark) !important;
}
.text-title{
	font-family: Hobo std;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}
.text-name{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-blue{
	color: var(--mainBlue)
}
.text-bright{
	color: var(--lightBlue);
}
.btn-black {
	background: transparent;
	text-transform: capitalize;
	font-size: 0.8rem !important;
	color: var(--mainDark);
	border-radius: 0 !important;
	border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
	color: var(--mainWhite) !important;
	background: var(--mainDark) !important;
}
.cart-icon{
	cursor: pointer;
	font-size: 1.2rem;
	color: var(--mainYellow) !important;
}
.cart-icon:hover{
	color: var(--mainDark) !important;
}
.banner{
	height: 90vh;
	width: 100%;
	display: flex;
}
.banner section{
	width: 10rem;
	height: 5px;
	background: var(--mainYellow);
	margin: 1.7rem auto;
}